{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<body>

    <div class="s122">



        <img class="i" src="{{url_for('static', filename='images/newegg.svg')}}" />

        PC Price Finder



    </div>
    <div class="s129">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% from "_formhelpers.html" import render_field %}
        <form method=post>
            <dl>
                {{ render_field(form.select) }}
                <p>
                    {{ render_field(form.search) }}
            </dl>
            <p><input type=submit value=Search>
        </form>




        <div class="s129">
            <form>
                <div class="inner-form">
                    <div>
                        <h1>Search By Price</h1>
                    </div>
                    <div class="input-field">
                        <button class="btn-search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                </path>
                            </svg>
                        </button>
                        <input id="search" type="text" href="/results.html" placeholder="What Price Range?" />
                    </div>
                </div>
            </form>
        </div>



        <script type="text/javascript">
            $(document).ready(function () {

                $('.search').keydown(function (event) {
                    // enter has keyCode = 13, change it if you want to use another button
                    if (event.keyCode == 13) {
                        this.form.submit();
                        return false;
                    }
                });

            });

        </script>
        <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-3.3.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-migrate-3.0.1.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery-ui.js')}}"></script>
        <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.stellar.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.countdown.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap-datepicker.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/swiper.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/aos.js')}}"></script>

        <script src="{{url_for('static', filename='js/picturefill.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/lightgallery-all.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.mousewheel.min.js')}}"></script>

        <script src="{{url_for('static', filename='js/main.js')}}"></script>

        <script>
            $(document).ready(function () {
                $('#lightgallery').lightGallery();
            });
        </script>
</body>

{% endblock %}